################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvinyaQuickComAPI/FileContentIndex/2f9c61bd-ce60-4dc5-a30d-d202504111b5.vsidx
/.vs/AvinyaQuickComAPI/FileContentIndex/858874f9-19ed-4cbd-8715-c758242fc274.vsidx
/.vs/AvinyaQuickComAPI/FileContentIndex/65e11251-2f99-4050-86b7-091dd1d20d56.vsidx
/.vs/AvinyaQuickComAPI/FileContentIndex/b144cd45-bc27-49f0-be40-0a5089f8152b.vsidx
/.vs
/SoniyaQuickComAPI/.vs
/QuickCom.BussinessLayer/obj
