################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvinyaQuickComAPI/FileContentIndex/2f9c61bd-ce60-4dc5-a30d-d202504111b5.vsidx
